:root {
    --color-darkBrown: #5d2c20;
    --color-yellow: #d99d4a;
    --color-red: #d27a5c;
    --color-white:#fefce6; 
    --color-grey: #323636;
}

a {
    text-decoration: none;
    color: #5d2c20;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

/*----------------------PÁGINA INICIO----------------------*/
.fondoIndex {
    background-color: #f9f2e8;
    background-image: url(images/fondoInicio.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.h1Index {
    width: 100%;
    text-align: center;
    margin: auto;
    color: #fefce6;
}

.container-inicio {
    width: 32%;
    font-size: 20px;
    font-weight: bold;
    color: #342422;
    border: 3px solid black;
    border-radius: 5px;
    margin: 16% 33%;
    padding: 0;
    background-color: #fffde5e5;
}

.container-inicio a:hover {
    color: var(--color-yellow);
}

#biblioteca {
    justify-items: end;
}

/*----------------------PÁGINA REGISTRO----------------------*/
.fondoRegistrate {
    background-image: url(images/fondoRegistro.jpeg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover; 
}

.h1Registrate {
    color: var(--color-white);
    padding: 2%;
    text-align: left;
}

.menuRegistro {
    font-size: 25px;
    font-weight: bold;
    color: 	var(--color-grey);
    border: 3px #a87343 solid;
    text-align: center;
    background-color: #f9ead398;
    padding: 1%;
}

.registro {
    margin: 2% 40%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #f4e2bca1;
    font-weight: bold;
}

.form-group {
    padding: 1%;
    margin: 3%;
}

option {
    text-align: center;
    padding: 2%;
    cursor: pointer;
}

.opt1:hover {
    background-color: #66a7afbd;
}

.opt2:hover {
    background-color: var(--color-red);
    color: #f9f6ed;
}

.opt3:hover {
    background-color: var(--color-yellow);
}

.opt4:hover {
    background-color: #327432be;
    color: #f9f6ed;
}

.opt5:hover {
    background-color: #573d70c7;
    color: #f9f6ed;
}

#eligeColor::-webkit-scrollbar {
    width: 10px;
    background-color: #FCEECB;
}

#eligeColor::-webkit-scrollbar-thumb {
    background-color: #eeb77d;
    border-radius: 5px;
}

.btn-registro {
    margin: 3% 33%;
    border-radius: 5px;
    background-color: #d27a5c;
}

/*----------------------MESAS DE JUEGO----------------------*/
.fondoMesasJuego{
    background-image: url(images/fondoMesasJuego.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #443f41;
}

.h1MesasJuego {
    color: var(--color-white);
    padding: 2%;
    margin-left: 3%;
    text-align: left;
}

.menuMesasJuego {
    font-size: 25px;
    font-weight: bold;
    color: 	var(--color-grey);
    border: 3px var(--color-darkBrown) solid;
    text-align: center;
    background-color: #fefce691;
    padding: 1%;
}

.menuMesasJuego a{
    color: var(--color-darkBrown);
}

.containerMesas {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 80px; 
    padding: 70px;
    background-color: #fefce6a2;
    border: 6px solid var(--color-darkBrown);
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

.item:hover{
    background-color: #d99d4a56;
}

.item a:hover{
    color: var(--color-white);
}

/*----------------------TU BIBLIOTECA----------------------*/
.fondoBiblioteca {
    background-image: url(images/fondoBiblioteca.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.h1Biblioteca {
    color: var(--color-white);
    text-align: center;
    margin: 3%;
}

.menuBiblioteca {
    color: var(--color-white);
}

/*----------------------RESERVA MESA----------------------*/
.fondoReservaMesa {
    background-image: url(images/fondoReservaMesa.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.reservaMesa {
    margin: 2% 40%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #f4e2bca1;
    font-weight: bold;
}

.form-group {
    padding: 1%;
    margin: 3%;
}

option {
    text-align: center;
    padding: 2%;
    cursor: pointer;
}